<h1>Profiles</h1>

<%= link_to "Create Profile", new_profile_path %>

<% @profiles.each do |profile| %>
<ul><%= link_to "#{profile.user.email}", profile_path(profile) %></ul>
<!-- indentation! -->
<% end %>
