/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.alert {
  font-size: 45px;
  color: red;
}
.comments {
  text-align: center;
}
#header {
  text-align: center;
  font-size: 45px;
  background-color: #62B6CB;
  height: 100px;
  padding: 10px;
  margin: 1px 0;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  line-height: 100px;
  color: black;
}
.navigation {
  text-align: center;
  list-style-type: none;
  background-color: #BEE9E8;
  padding: 10px;
  margin: 1px 0;
}
.login {
  text-align: center;
  background-color: #BEE9E8;
  padding: 5px;
  margin: 1px 15%;
}
.user_login {
  color: white;
}
li {
  display: inline;
  font-size: 20px;
  padding: 2px 50px;
}
a {
  text-decoration: none;
  color: #5FA8D3;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
body {
  background-color: #1B4965;
  font-family: 'Roboto', sans-serif;

}
.page {
  background-color: #CAE9FF;
  padding: 10px;
  /*border: 2px solid grey;*/
}
.container {
  margin: 0 15%;
}
h2 {
  font-size: 25px;
  text-decoration: underline;
  display: inline;
}
.comment_title {
  font-size: 20px;
}
.destroy {
  display: inline;
}
.edit {
  display: inline;
}
.title {
  display: inline;
}
.subtitle {
  display: inline;
}
#new {
  display: inline;
}
h1 {
  text-align: center;
}
.edit_delete {
  display: inline;
}
.links {
  text-align: center;
}
p {
  text-align: justify;
}
