<%= link_to "Create New Report", new_report_path %>

<h1><%= @location.city  %>,<%= @location.country %></h1>

<% @location.reports.each do |report| %>
  <ul><%= link_to "#{report.location.city} written #{report.created_at.strftime("%B %d, %Y")}", report_path(report) %></ul>
<% end %>
